<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="iisnode" path="app.js" verb="*"
           modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="app">
          <match url=".*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode devErrorsEnabled="true" loggingEnabled="true" logDirectory="iisnode" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\tasscheduler.com\tmp" />
  </system.web>
</configuration>